body {
    min-height: 92vh;
    background-color: antiquewhite;
    padding: 10px;
    width: 95%;
    border: 1px black solid;
}

header {
    border: 1px black solid;
    display: inline-flex;
    width: 100%;
    margin-bottom: 5px;
    min-height: 8vh;
}


main {
    border: 1px black solid;
    display: inline-flex;
    width: 100%;
    min-height: 78vh;
}

.left-bar {
    border: 1px black solid; 
    margin: 10px;
    width: 20%;
    max-height: 80hv;
    overflow: auto;  
    object-fit: contain;  
}

.menu {
    border: 1px black solid;
    margin: 3px;
    padding: 5px;
     
}

.settings {
    border: 1px black solid;
    margin: 3px;
    padding: 5px; 
}

.settings li {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px; 
}

.content {
    border: 1px black solid; 
    margin: 10px;
    width: 58%;     
}

.right-bar {
    border: 1px black solid; 
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    max-height: 80hv;
    object-fit: contain;
}

.right-bar img {
    border: 1px black solid; 
    flex: 40px;
    object-fit: contain;
    margin: 3px;
    max-height: 210px;
    max-width: 250px;
    overflow: auto;
}


.img-info {
    border: 1px black solid;
    margin: 3px;
    padding: 5px;
    flex: 55vh; 
    background-color: lightgray;  
}

footer {
    border: 1px black solid;
    width: 100%;
    margin-top: 5px;
    min-height: 4vh;   
}

.user-menu {
    border: 1px black solid; 
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;   
}

.container {
    display: flex;
    flex-wrap: wrap;    
}

.content-frame {
    border: solid black 1px;
    width: 33%;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    margin: 1px;
}

.add-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: rgb(167, 161, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10em;
    border: solid rgb(167, 161, 161) 2px;
}