{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW MAGIC :: {{title}}</title>
    <link type="text/css" href="{% static 'main_window/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="logo" alt="logo" class='left-bar'>
        <h1 class='content'>Вы находитесь в {{ title }}</h1>
        <a href="#" class='user-menu'>USER</a>
    </header>
    <main>
        <div class='left-bar'>
            <ul class='menu'>
                {% for cat in menu %}
                <li>
                    <a href="{% url cat.url_name %}">{{cat.title}}</a>
                </li>
                {% endfor %}    
            </ul>
            <ul class='settings'>
                <li>USER INFORMATION</li>
                <li>SETTINGS</li>
                <li>HOT SETTINGS</li>
            </li>
        </div>
        <div class='content'>
            {% block content %}{% endblock %}    
        </div>
        <div class="right-bar">
            <img src="img" alt="current img">
            <div class="img-info">Здесь отображается информация о выбранном элементе</div>
        </div>
    </main>
    <footer>Здесь футер</footer>
</body>
</html>